@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    font-family: "Poppins", sans-serif;
    height: auto;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.container-header {
    width: 100%;
    height: 670px;
    display: flex;
    flex-direction: column;
    background: url(../images/desktop/image-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-header header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 20px;
    margin: 0px 0px 21px;
}

.container-header header img {
    width: 124px;
    height: 24px;
    object-fit: cover;
    cursor: pointer;
}

.container-header header nav {
    width: auto;
    height: auto;
    position: relative;
    left: 17%;
}

.container-header header nav ul {
    gap: 30px;
    display: flex;
}

.container-header header nav ul li {
    list-style: none;
}

.container-header header nav ul li a {
    color: hsl(0, 0%, 100%);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    transition: .3 ease;
    text-decoration: none;
    padding: 0;
    background-color: transparent;
}

.container-header header a {
    color: hsl(212, 27%, 19%);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    padding: 12px 30px;
    border: 1px solid transparent;
    background-color: hsl(0, 0%, 100%);
    border-radius: 16px;
    transition: .3s ease;
}

.main-header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-header h1 {
    font-size: 70px;
    font-weight: 600;
    text-align: center;
    color: hsl(0, 0%, 100%);
    letter-spacing: .375rem;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.main-header img {
    width: auto;
    height: auto;
    cursor: pointer;
    transition: .3s ease;
 }

 .main-header img:hover {
    transform: translateY(10px);
 }

 /* 1 Section */
.section {
    width: 100%;
    height: 100%;
    display: flex;
}

.container-description {
    width: 100%;
    max-width: 50%;
    height: 792.47px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
}

.description-section-1 {
    width: 460px;
    height: auto;
}

.description-section-1 h2 {
    color: hsl(212, 27%, 19%);
    font-size: 40px;
    font-weight: 800;
    text-align: start;
    margin: 0px 0px 35px;
    line-height: 1.2;
    max-width: 400px;
}

.description-section-1 p {
    color: hsl(232, 10%, 55%);
    font-size: 16px;
    font-weight: 500;
    text-align: start;
    margin: 0px 0px 30px;
}

.description-section-1 a {
    color: hsl(212, 27%, 19%);
    font-size: 13.33333px;
    font-weight: 700;
    text-align: start;
    transition: transform .6s ease;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.description-section-1 a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; 
    width: 100%;
    height: 3px; 
    background-color: hsl(51, 100%, 76%);
    display: block;
    transform: scaleX(0); 
    transform-origin: left;
    transition: transform .6s ease; 
}

.description-section-1 a:hover {
    transform: translateX(10px);
}

.description-section-1 a:hover::before {
    transform: scaleX(1);
}

.container-img {
    width: 100%;
    max-width: 50%;
    height: 792.47px;
}

.container-img figure {
    width: 100;
    height: 100%;
}

.container-img figure img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.description-section-2 {
    width: 460px;
    height: auto;
}

.description-section-2 h2 {
    color: hsl(212, 27%, 19%);
    font-size: 40px;
    font-weight: 800;
    text-align: start;
    margin: 0px 0px 35px;
    line-height: 1.2;
    max-width: 400px;
}

.description-section-2 p {
    color: hsl(232, 10%, 55%);
    font-size: 16px;
    font-weight: 500;
    text-align: start;
    margin: 0px 0px 30px;
}

.description-section-2 a {
    color: hsl(212, 27%, 19%);
    font-size: 13.33333px;
    font-weight: 700;
    text-align: start;
    transition: transform .6s ease;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.description-section-2 a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; 
    width: 100%;
    height: 3px; 
    background-color: hsl(8, 92%, 80%);
    display: block;
    transform: scaleX(0); 
    transform-origin: left;
    transition: transform .6s ease; 
}

.description-section-2 a:hover {
    transform: translateX(10px);
}

.description-section-2 a:hover::before {
    transform: scaleX(1);
}

/* Container - Fruits */
.section-fruits {
    width: 100%;
    height: 100%;
    display: flex;
}

.container-fruit {
    width: 100%;
    max-width: 50%;
    height: 580px;
    background: url(../images/desktop/image-graphic-design.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.orange {
    width: 100%;
    max-width: 50%;
    height: 580px;
    background: url(../images/desktop/image-photography.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
    position: relative;
}

.description-fruit {
    width: 350px;
    height: auto;
    position: absolute;
    bottom: 18%;
}

.description-fruit h3 {
    color: hsl(212, 27%, 19%);
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    margin: 0px 0px 20px;
}

.description-fruit p {
    color: hsl(212, 27%, 19%);
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.section-client {
    width: 100%;
    height: 620px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-client {
    width: 1158px;
    height: auto;
}

.container-client h4 {
    color: hsl(210, 4%, 67%);
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .375rem;
    margin-bottom: 60px;
}

.clients {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.card {
    gap: 30px;
    width: 355px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 60px;
    height: 60px;
    border: 1px solid transparent;
    border-radius: 50%;
    object-fit: cover;
}

.card p {
    color: hsl(212, 27%, 19%);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.card .date {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card .date a {
    color: hsl(212, 27%, 19%);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0px 0px 5px;
}

.card .date p {
    color: hsl(210, 4%, 67%);
    font-size: 13px;
    font-weight: 500;
    text-align: center;
}

/* Section - Meal */
.section-meal {
    width: 100%;
    height: 591.34px;
    display: flex;
}

.section-meal img {
    width: 476.25px;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    opacity: 0.7;
    background-color: rgba(255, 255, 255, 0.9);
}

.section-meal img:hover {
    opacity: 1;
}

/* Footer */
footer {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #71dac5;
}

.container-footer {
    gap: 40px;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-footer .logo-footer {
    width: 124px;
    height: 24px;
    object-fit: cover;
}

.container-footer ul {
    gap: 15px;
    display: flex;
}

.container-footer ul li {
    list-style: none;
    transition: .3s ease;
}

.container-footer ul li a {
    color: hsl(212, 27%, 19%);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
}

.container-footer ul li:hover {
    transform: translateY(-10px);
}

.networks {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.networks a {
    width: auto;
    height: auto;
    transition: .3s ease;
}